@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Source+Sans+Pro:100,300,400,700);

body {
   
}

#siteWrapper {
    
}

#contentWrapper {
    width: 100%;
}

#sideBar {
    display: none;
}

#header {
display: none;
}

#client_logo {
background-image: none;
display: none;
}

#content {
    
}

#searchBar {
   
}

#searchBar button {
   
}

#searchBar button:hover {
    
}

.dividerStripe {
   
}

#searchBar label {
  
}

#searchBar input[type="text"] {
   
}

.datePickerMonthSelector {
   
}

#searchBar h4 {
    
}

#searchBarContent {
  
}

#content {
width: 900px;
padding: 30px;
margin: 0 auto;
position: relative;
/*bottom: -45px;*/
/*left: 100px;*/
background: #1c1c1c;
border-bottom: 5px solid #bf9958;
}

.clearfix{
    zoom: 1;
}

clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

.clearfix:before, .clearfix:after{
    content: "";
    display: table;
}

#content input[type="text"]{
    margin: 0 10px 0 0;
    float: left;
    font-size: 14px;
    color: #d3d3d3;
    width: 109px;
    padding: 10px 9px;
}

@media only screen and (max-width: 767px) {
  #content {
    width: 405px;
  }

  #content input[type="text"] {
    width: 90%;
    margin: 10px 0;

  }




}

@media only screen and (min-width: 900px){

  #promoCode {
    position: absolute;
    right: 230px;
    top: 90px;
  }

  #content button {
      position: relative;;
      left: 120px;
      top: -30px;

  }


  #content label {
  position: absolute;
  margin-left: 20px;
  margin-top: -23px;
  }


  #promoCodeLabel{
    position: absolute;
    right: 250px;
    top: 90px;
  }

}


#content button {

    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 13px 10px;
    background: #bf9958;
}




#content label {
color: #d3d3d3;
}
